.container {
	width: 300px;
	padding: 20px;
	position: fixed;
	right: 35px;
	top: 120px;
	background-color: hsla(0, 0%, 0%, 0.8);
	border: 1px dashed hsla(0, 0%, 12%, 1);
	max-height: 300px;
	overflow-y: auto;
	z-index: 99;
	border-radius: 4px;

	button {
		background-color: transparent;
		border: none;
		box-shadow: none;
		color: #ededed;

		&.inactive {
			color: #ededed6f;
		}

		&:hover {
			cursor: pointer;
			background-color: transparent;
			border: none;
			box-shadow: none;
			border: none;
		}

		&:disabled {
			cursor: not-allowed;
		}
	}
}
