.main {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	background-color: var(--foreground);
	overflow: auto;
}

.header {
	position: sticky;
	top: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: hsla(0, 0%, 0%, 0.8);
	border-bottom: 1px solid hsla(0, 0%, 12%, 1);
	width: inherit;
	padding: 12px;
	height: 60px;
	box-shadow: 0px 1px 35px 5px hsla(0, 0%, 4%, 1);

	.stepSelect {
		display: flex;
		margin-left: auto;
		flex-direction: row;
		justify-items: center;
		align-items: center;
		margin-left: auto;
		margin-right: 20px;
		max-width: 150px;

		select {
			margin: 0;
		}
	}

	button {
		background: white;
		border: none;
		color: black;
		font-size: 1rem;
		padding: 2px 12px;
		margin-right: 10px;
		border-radius: 4px;
		cursor: pointer;
	}
}

.container {
	width: 460px;
	position: fixed;
	max-height: 80vh;
	overflow: auto;
	top: 70px;
	right: 20px;
	border: 1px solid hsla(0, 0%, 12%, 1);
	border-radius: 4px;
	background-color: hsla(0, 0%, 4%, 1);
	z-index: 99;
	box-shadow: 0px 1px 35px 5px hsla(0, 0%, 4%, 1);

	h2 {
		margin-bottom: 20px;
		font-size: 1rem;
		padding: 12px;
		border-bottom: 1px solid hsla(0, 0%, 12%, 1);
	}

	.closeButton {
		position: absolute;
		right: 0;
		top: 0;
		border: none;
		border-left: 1px solid hsla(0, 0%, 12%, 1);
		background-color: transparent;
		color: white;
		font-size: 1rem;
		padding: 11px 8px;
		cursor: pointer;
	}
}

.eventWrapper {
	padding: 20px 0;
}

ul.eventList {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 10px 50px;
	height: inherit;
	padding: 20px 0;
}
