.main {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	background-color: var(--foreground);
}

.header {
	position: fixed;
	width: inherit;
	box-sizing: border-box;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: hsla(0, 0%, 0%, 0.8);
	border-bottom: 1px solid hsla(0, 0%, 12%, 1);
	width: inherit;
	padding: 12px;
	height: 60px;
	box-shadow: 0px 1px 35px 5px hsla(0, 0%, 4%, 1);

	.stepSelect {
		display: flex;
		margin-left: auto;
		flex-direction: row;
		justify-items: center;
		align-items: center;
		margin-left: auto;
		margin-right: 20px;
		max-width: 150px;

		select {
			margin: 0;
		}
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		background: white;
		border: none;
		color: black;
		font-size: 1rem;
		padding: 2px 12px;
		margin-right: 10px;
		border-radius: 4px;
		cursor: pointer;

		svg {
			margin-right: 8px;
		}
	}

	@media screen and (max-width: 400px) {
		width: 100vw;
		top: 0;
		right: 0;
		align-items: center;

		h1 {
			font-size: 16px;
		}

		button {
			text-indent: -9999px; /* Moves text far off-screen */
			overflow: hidden; /* Ensures text doesn't appear if element is small */
			white-space: nowrap; /* Prevents text from wrapping */
			padding: 8px;
			svg {
				margin-right: 0;
			}
		}

		.stepSelect {
			max-width: 90px;
		}
	}
}

.container {
	width: 50vw;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	border: 1px solid hsla(0, 0%, 12%, 1);
	border-radius: 4px;
	background-color: hsla(0, 0%, 4%, 1);
	z-index: 999;
	box-shadow: 0px 1px 35px 5px hsla(0, 0%, 4%, 1);
	overflow-y: auto;

	@media screen and (max-width: 400px) {
		position: fixed;
		width: 100vw;
		bottom: 0;
		left: 0;
	}

	h2 {
		margin-bottom: 20px;
		font-size: 1rem;
		padding: 12px;
		border-bottom: 1px solid hsla(0, 0%, 12%, 1);
	}

	.closeButton {
		position: absolute;
		right: 0;
		top: 0;
		border: none;
		border-left: 1px solid hsla(0, 0%, 12%, 1);
		background-color: transparent;
		color: white;
		font-size: 1rem;
		padding: 11px 8px;
		cursor: pointer;
	}
}

.eventWrapper {
	padding: 20px 0;
}

ul.eventList {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 50px 50px 10px 50px;
	height: inherit;
	width: inherit;
	padding: 20px 0;
}
