.baseline {
	margin: 0 50px;
	background-color: black;
	padding: 10px 0;
	display: flex;
	flex-direction: row;
	height: 24px;

	li {
		position: relative;
		list-style: none;
		width: 1px;
		white-space: nowrap;
		height: inherit;
		margin: 0;
		padding: 0;

		&::before {
			content: '';
			border-left: 1px solid white;
			height: 8px;
		}

		span {
			position: relative;
			left: 4px;
		}

		.era {
			position: absolute;
			bottom: -20px;
			left: 0;
			font-size: 0.8rem;
		}
	}
}
