.baseline {
	position: sticky;
	bottom: 20px;
	margin: 0 50px;
	background-color: hsla(0, 0%, 0%, 0.8);
	padding: 10px 0;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 1px 35px 5px hsla(0, 0%, 4%, 1);
	z-index: 99;

	&:first-child {
		top: 80px;
	}

	li {
		position: relative;
		list-style: none;
		width: 1px;
		white-space: nowrap;
		height: inherit;
		margin: 0;
		padding: 0;

		&::before {
			content: '';
			border-left: 1px solid white;
			height: 8px;
		}

		span {
			position: relative;
			left: 4px;
		}

		.era {
			position: absolute;
			bottom: -20px;
			left: 0;
			font-size: 0.8rem;
		}
	}
}
