html,
body {
	max-width: 100vw;
	font-size: 14px;
}

body {
	color: white;
	background: black;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none; /* Removes bullet points or numbering */
	margin: 0; /* Removes default outer spacing */
	padding: 0; /* Removes default inner spacing */
	/* You might also want to reset other properties depending on your needs */
	/* For example, if you want to reset font styles: */
	/* font-size: inherit; */
	/* font-weight: normal; */
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 20px;
		gap: 1rem;
}


label {
	display: block;
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	gap: 1rem;
}

input[type='text'],
input[type='number'],
select {
	margin-top: .5rem;
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	background-color: black;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	/* appearance: none; */
	background-position: right 0.75rem center;
	border: 1px solid hsla(0, 0%, 12%, 1);
	border-radius: 4px;
}


input[type='number'] {
	padding-right: 0;
}

input[type='color'] {
	display: block;
	width: 2rem;
    height: 2rem;
	border: 1px solid hsla(0, 0%, 12%, 1);
	border-radius: 4px;
}

input[type='checkbox'] {
	border-radius: 0.25em;
	float: left;
	margin-right: 1em;
	width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
	border: 1px solid hsla(0, 0%, 12%, 1);
	border-radius: 4px;
	background-color: black;
	accent-color: black;
	color: white;
}

button {
	white-space: nowrap;
	background: white;
	border: none;
	color: black;
	font-size: 1rem;
	padding: 10px 12px;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s all ease-in-out;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:hover {
		cursor: pointer;
	}
}
