.formContainer {
	ul {
		margin: 30px 40px;
		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			border-bottom: 1px solid hsla(0, 0%, 12%, 1);

			button {
				background-color: transparent;
				color: white;
				border: none;
				border-left: 1px solid hsla(0, 0%, 12%, 1);
				padding-right: 10px;
				padding: 10px;

				&:first-child {
					margin-left: auto;
				}
			}
		}
	}

	form {
		label {
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
